{% extends "base.html" %}

{% block title %}Print Tracker - Filament Instances{% endblock %}

{% block content %}
    <main class="flex-gallery">
    
        {% for filament_instance in object_list %}
    
            <div class="flex-item item">
                <a href={% url 'prints:filament_instance_detail' filament_instance.id %}>
                    {{ filament_instance }}
        
                </a>
                <dl>
                    <dt>Filament Instance Roll</dt>
                    <dd>{{ filament_instance.filament_roll }}</dd>
                    <dt>Filament Consumed</dt>
                    <dd>{{ filament_instance.grams_filament_consumed }} grams</dd>
        
                    {% if filament_instance.print %}
                        <dt>Associated Model Print</dt>
                        <dd>{{ filament_instance.print }}</dd>
                    {% else %}
                        <p>No associated Model Print</p>
                    {% endif %}
        
                </dl>
            </div>
    
        {% endfor %}
    
    </main>
{% endblock %}