{% extends "base.html" %}

{% block title %}Print Tracker - {{ modelprint.name }}{% endblock %}

{% block content %}
<br>
User: {{ user.username | capfirst }}<br>
ModelPrint Creator: {{ modelprint.creator.username | capfirst }}<br>
User is the 3D Model Print Creator: {% if user.id == modelprint.creator.id %} Yep! {% else %} Nope! {% endif %}

<h2>Model Print: {{ modelprint.name }}</h2>
<dl>
    <dt>Filament Roll Used</dt>
    <dd>{{ modelprint.filament_instance.filament_roll }}</dd>
    <dt>Grams Filament Consumed</dt>
    <dd>{{ modelprint.filament_instance.filament_consumed }}</dd>
    <dt>Model Print Creator</dt>
    <dd>{{ modelprint.creator.username }}</dd>
</dl>

{% if user.id == modelprint.creator.id %}
    <a href={% url 'prints:model_update' modelprint.id %}>Edit this 3D Model Print</a><br>
    <a href={% url 'prints:model_delete' modelprint.id %}>Delete this 3D Model Print</a><br>
{% endif %}

{% endblock %}