{% extends "base.html" %}

{% block title %}Print Tracker - {{ modelprint.name }}{% endblock %}

{% block content %}
<h2>Model Print: {{ modelprint.name }}</h2>

<dl>
    <dt>Filament Roll Used</dt>
    <dd><a href={% url 'prints:roll_detail' modelprint.filament_instance.filament_roll.id %}>{{ modelprint.filament_instance.filament_roll }}</a></dd>
    <dt>Filament Consumed</dt>
    <dd><a href={% url 'prints:filament_instance_detail' modelprint.filament_instance.id %}>{{ modelprint.filament_instance }}</a></dd>
    <dt>Model Print Creator</dt>
    <dd>{{ modelprint.creator.username }}</dd>
</dl>

{% if user.id == modelprint.creator.id %}
    <a href={% url 'prints:model_update' modelprint.id %}>Edit this 3D Model Print</a><br>
    <a href={% url 'prints:model_delete' modelprint.id %}>Delete this 3D Model Print</a><br>
{% endif %}

<br>
User: {{ user.username | capfirst }}<br>
ModelPrint Creator: {{ modelprint.creator.username | capfirst }}<br>
User is the 3D Model Print Creator: {% if user.id == modelprint.creator.id %} Yep! {% else %} Nope! {% endif %}

{% endblock %}