{% extends "base.html" %}

{% block title %}Print Tracker - Models Home{% endblock %}

{% block content %}

<h2>Model Prints</h2>

<ul>
    {% for model in object_list %}
    <li>
        <p><a href={% url 'prints:model_detail' model.id %}>{{ model.name }}</a></p>
        <dl>
            <dt>Filament Roll Used</dt>
            <dd>{{ model.filament_instance.filament_roll }}</dd>
            <dt>Grams Filament Used</dt>
            <dd>{{ model.filament_instance.filament_consumed }}</dd>
            <dt>Model Print Creator</dt>
            <dd>{{ model.creator.username }}</dd>
        </dl>
    </li>
    {% endfor %}
</ul>

{% endblock %}