{% extends "base.html" %}

{% block title %}Print Tracker - {{ manufacturer }}{% endblock %}

{% block content %}
    <main>
    
        <a href={% url 'prints:manufacturer_edit' manufacturer.id %}>Edit Manufacturer</a><br>
        <dl>
            <dt>Number of Rolls by this Manufacturer</dt>
            <dd>{{ manufacturer.rolls.count }}</dd>
        </dl>
    
        {% if manufacturer.rolls.all %}
    
            <h3>Rolls</h3>
            {% for roll in manufacturer.rolls.all %}
                <dl>
                    <dt><a href={% url 'prints:roll_detail' roll.id %}>{{ roll }}</a></dt>
                    <dt>Number of Filament Instances</dt>
                    <dd>{{ roll.instances.count }}</dd>
                    <dt>Number of Model Prints</dt>
                    <dd><code>number_of_model_prints</code></dd>
                </dl>
            {% endfor %}
            
        {% endif %}
            
    </main>
{% endblock %}