{% extends "base.html" %}

{% block title %}Print Tracker - {{ filamentroll }}{% endblock %}

{% block content %}
<main>

    <h2>Filament Roll: {{ filamentroll }}</h2>
        <a href={% url 'prints:roll_edit' filamentroll.id %}>Edit Roll: {{ filamentroll }}</a><br>
        <dl>
            <dt>Manufacturer</dt>
        <dd><a href={% url 'prints:manufacturer_detail' filamentroll.manufacturer.id %}>{{ filamentroll.manufacturer }}</a></dd>
        </dl>
        <dl>
            <dt>Filament Roll Owner</dt>
            <dd>{{ filamentroll.owner }}</dd>
            <dt>Number of Times this Roll is used</dt>
            <dd>{{ filamentroll.instances.count }}</dd>
            <dt>Total Filament Consumed</dt>
            <dd>sum of 'filament_consumed'</dd>
        </dl>
    
        {% if filamentroll.instances.all %}
    
        <h3>Filament Consumed Per Print</h3>
    
        {% for filament_instance in filamentroll.instances.all %}
    
            <dl>
                <dt>Model Print</dt>
                <dd>
                
                    {% if filament_instance.print %}
                        <a href={% url 'prints:model_detail' filament_instance.print.id %}>{{ filament_instance.print }}</a>
                    {% else %}
                        Model Print does not exist
                    {% endif %}
                    
                </dd>
                <dt>Filament Consumed (grams)</dt>
                <dd>{{ filament_instance.filament_consumed }}</dd>
                <dt>Filament Instance</dt>
                <dd><a href={% url 'prints:filament_instance_detail' filament_instance.id %}>{{ filament_instance }}</a></dd>
            </dl>
        
        {% endfor %}
        
    {% endif %}

</main>
{% endblock %}