{% extends "base.html" %}

{% block title %}Print Tracker - New 3D Filament Roll{% endblock %}

{% block content %}
<main>

    <h2>New Filament Roll</h1>
    <form action="{% url 'prints:roll_new' %}" method="post">
        {% csrf_token %}
    
        {{ form.as_p }}
    
        <input type="submit" value="Create New Filament Roll" />
    </form>

    <h3>Available Filament Materials</h3>    
    {% for filament_material in filament_materials%}
    {{ filament_material}}<br>
    {% endfor %}

</main>
{% endblock %}