{% extends "base.html" %}

{% block title %}Print Tracker - Edit: {{ filamentroll }}{% endblock %}

{% block content %}
<main>

    <h2> Filament Roll</h2>
    {{ filamentroll }}<br>
    <a href={% url 'prints:roll_detail' filamentroll.id %}>Cancel Edit</a><br>

    {% if filamentroll.filament_instances.count == 0 %}
    <a href={% url 'prints:roll_delete' filamentroll.id %}>Delete Filament Roll</a><br>
    {% else %}
    <p>Filament Roll cannot be deleted since it is associated with at least one existing Filament Instance</p>
    {% comment %} Provide `FilamentInstance` list here? {% endcomment %}
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save changes to Filament Roll" />
    </form>

</main>
{% endblock %}