{% extends "base.html" %}

{% block title %}Print Tracker - Filament Rolls{% endblock %}

{% block content %}
    <main class="flex-gallery">
    
        {% for filament_roll in object_list %}
    
            <div class="flex-item item">
                <a href={% url 'prints:roll_detail' filament_roll.id %}>{{ filament_roll }}</a>
                <dl>
                    <dt>Filament Roll Owner</dt>
                    <dd>{{ filament_roll.owner }}</dd>
                    <dt>Number of Times this Roll is used</dt>
                    <dd>{{ filament_roll.filament_instances.count }}</dd>
                    <dt>Total Filament Consumed</dt>
                    <dd>sum of 'grams_filament_consumed'</dd>
                </dl>
            </div>
        
        {% endfor %}
        
    </main>
{% endblock %}