{% extends "base.html" %}

{% block title %}Print Tracker - {{ filamentinstance }}{% endblock %}

{% block content %}
<main>

    <h2>Filament Instance: {{ filamentinstance }}</h2>
    {% if filamentinstance.filament_roll.owner == user %}
        <a href={% url 'prints:filament_instance_edit' filamentinstance.id %}>
            Edit Filament Instance
        </a><br>
    {% endif %}
    <dl>
        <dt>Filament Instance Roll</dt>
        <dd><a href={% url 'prints:roll_detail' filamentinstance.filament_roll.id %}>
            {{ filamentinstance.filament_roll }}
        </a></dd>
        <dt>Filament Consumed</dt>
        <dd>{{ filamentinstance.grams_filament_consumed }} grams</dd>
    </dl>
    {% if filamentinstance.print %}
        <dl>
            <dt>Model Print</dt>
            <dd><a href={% url 'prints:model_detail' filamentinstance.print.id %}>
                {{ filamentinstance.print }}
            </a></dd>
        </dl>
    {% else %}
    <p>No associated Model Print</p>
    {% endif %}

</main>
{% endblock %}