{% extends "base.html" %}

{% block title %}Print Tracker - Edit: {{ filamentmaterial }}{% endblock %}

{% block content %}
    <main>

        {{ filamentmaterial }}<br>
        <a href={% url 'prints:filament_material_detail' filamentmaterial.id %}>
            Cancel Edit
        </a><br>

        {% if filamentmaterial.rolls.count == 0 %}
            <a href={% url 'prints:filament_material_delete' filamentmaterial.id %}>
                Delete Filament Material
            </a><br>
        {% else %}
            <p>
                Filament Material cannot be deleted since it is associated
                with at least one existing Filament Roll.
            </p>
        {% endif %}
        
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save changes to Filament Material" />
        </form>

    </main>
{% endblock %}