{% extends "base.html" %}

{% block title %}Print Tracker - Edit: {{ manufacturer }}{% endblock %}

{% block content %}
    <main>

        {{ manufacturer }}<br>
        <a href={% url 'prints:manufacturer_detail' manufacturer.id %}>Cancel Edit</a><br>


        {% comment %} TODO: Remove Test Area {% endcomment %}
        {% comment %} Test Area {% endcomment %}
        {% if manufacturer %}
        'manufacturer': '{{ manufacturer }}' is Truthy!
        {% else %}
        '{{ manufacturer }}' is NOT Truthy!
        {% endif %}<br>
        
        {% if manufacturer.rolls %}
        'manufacturer.rolls': '{{ manufacturer.rolls }}' is Truthy!
        {% else %}
        'manufacturer.rolls': '{{ manufacturer.rolls }}' is NOT Truthy!
        {% endif %}<br>
        
        {% if manufacturer.rolls.count %}
        'manufacturer.rolls.count': '{{ manufacturer.rolls.count }}' is Truthy!
        {% else %}
        'manufacturer.rolls.count': '{{ manufacturer.rolls.count }}' is NOT Truthy!
        {% endif %}<br>
        {% comment %} End Test Area {% endcomment %}
        

        {% if manufacturer.rolls.count == 0 %}
            <a href={% url 'prints:manufacturer_delete' manufacturer.id %}>Delete Manufacturer</a><br>
        {% else %}
            <p>Manufacturer cannot be deleted since it is associated with at least one existing Filament Roll.</p>
        {% endif %}
        
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save changes to Manufacturer" />
        </form>

    </main>
{% endblock %}