<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Print Tracker - Base{% endblock %}</title>
    </head>
    <body>
        <main>
            <a
                href="https://github.com/brucestull/see-3d"
                target="_blank"
                >
                Flynnt Knapp's Print Tracker Git Repository
            </a><br>
            <a
                href={% url 'home' %}
                >
                Home
            </a><br>
            <a
                href={% url 'prints:home' %}
                >
                Models Home
            </a><br>
            <a
                href={% url 'prints:model_create' %}
                >
                Add New Model Print Here
            </a><br>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>