{% extends "base.html" %}

{% block title %}Print Tracker - {{ filamentroll }}{% endblock %}

{% block content %}

<h2>Filament Roll: {{ filamentroll }}</h2>
    <a href={% url 'prints:roll_edit' filamentroll.id %}>Edit {{ filamentroll }}</a><br>
    <dl>
        <dt>Filament Roll Owner</dt>
        <dd>{{ filamentroll.owner }}</dd>
        <dt>Number of Times this Roll is used</dt>
        <dd>{{ filamentroll.instances.count }}</dd>
        <dt>Total Filament Consumed</dt>
        <dd>sum of 'filament_consumed'</dd>
    </dl>

    {% if filamentroll.instances.all %}
    <h3>Filament Consumed Per Print</h3>
    {% for filament_instance in filamentroll.instances.all %}
        <dl>
            <dt>Filament Consumed</dt>
            <dd>{{ filament_instance }}</dd>
            <dt>Model Print</dt>
            <dd>
                {% if filament_instance.print %}
                    <a href={% url 'prints:model_detail' filament_instance.print.id %}>{{ filament_instance.print }}</a>
                {% else %}
                    Model Print has been deleted
                {% endif %}
            </dd>
        </dl>
    {% endfor %}
{% endif %}
    
{% endblock %}