{% extends "base.html" %}

{% block title %}Print Tracker - New 3D Model Print{% endblock %}

{% block content %}

<h1><code>FormView</code></h1>
<h2>Create New 3D Model Print : {{ the_view_name }}</h2>
<form action="{% url 'prints:model_print_form_view' %}" method="post">
    {% csrf_token %}
    
    {{ form.as_p }}
    
    <input type="submit" value="Create New 3D Model Print" />
</form>

<h2>Create New Filament Roll</h1>
<form action="{% url 'prints:create_filament_roll' %}" method="post">
    {% csrf_token %}

    {{ filament_roll_form.as_p }}

    <input type="submit" value="Create New Filament Roll" />
</form>
    
<h2>List of Filament Rolls</h2>
{% for filament_roll in filament_rolls_in_template %}
    {{ filament_roll }}<br>
{% endfor %}

{% endblock %}