{% extends "base.html" %}

{% block title %}Print Tracker - {{ modelprint.name }}{% endblock %}

{% block content %}
<br>
User: {{ user.username | capfirst }}<br>
ModelPrint Creator: {{ modelprint.creator.username | capfirst }}<br>
User is the 3D Model Print Creator: {% if user.id == modelprint.creator.id %} Yep! {% else %} Nope! {% endif %}

<h2>Model Print Detail</h2>
{{ modelprint.name }}<br>
Used {{ modelprint.filament_instance.filament_consumed }} grams of Roll: "{{ modelprint.filament_instance.filament_roll }}".<br>
{{ modelprint.creator.username }}<br>
{% if user.id == modelprint.creator.id %}
    <a href={% url 'prints:model_update' modelprint.id %}>Edit this 3D Model Print</a><br>
    <a href={% url 'prints:model_delete' modelprint.id %}>Delete this 3D Model Print</a><br>
{% endif %}

{% endblock %}